.unslider {
    overflow: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

.unslider-wrap {
    position: relative
}

.unslider-wrap.unslider-carousel > li {
    float: left
}

/*自定义的高度*/
.unslider-wrap.unslider-carousel > li > a > img {
    height: 320px;
    width: 100%;
}

.unslider-vertical > ul {
    height: 100%
}

.unslider-vertical li {
    float: none;
    width: 100%
}

.unslider-fade {
    position: relative
}

.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8
}

.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10
}

.unslider li, .unslider ol, .unslider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none
}

.unslider-arrow {
    position: absolute;
    width: 32px;
    height: 64px;
    left: 20px;
    margin-top: -32px;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    background: rgba(0, 0, 0, .2) no-repeat 50% 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
    opacity: .6;
    transition: opacity .2s;
}

.unslider-arrow:hover{
    opacity: 1;
}

.unslider-arrow.prev {
    right: auto;
    transform: rotate(-180deg);
}

.unslider-arrow.next {
    left: auto;
    right: 20px;
}